        .table td,
        .table th {
            padding: .4rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            border: 0 !important;
        }

        .table-hover tbody tr:hover {
            cursor: pointer;
        }